<div th:fragment="them">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item active" th:text="${title_body}">Sửa Nhân Viên</li>
                    </ol>
                </div>
                <h4 class="page-title" th:text="${title_body}">Sửa Nhân Viên</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="container">
        <form th:action="${action}" th:object="${dl}" method="post">

            <div class="row">
                <div class="col">
                    <input type="hidden" th:field="*{Id}" />

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" required placeholder="Tên đăng nhập"
                            th:field="*{model}" />
                        <label for="floatingInput">Cấu hình máy</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Tên đăng nhập"
                            th:field="*{tenSP}" />
                        <label for="floatingInput">Tên sản phẩm</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Tên đăng nhập"
                            th:field="*{anhDaiDien}" />
                        <label for="floatingInput">Ảnh đại diện</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="donGia" placeholder="Giá bán" name="donGia"
                            th:value="${#numbers.formatDecimal(dl.donGia, 0, 0)}" />
                        <label for="floatingInput">Giá bán</label>
                    </div>

                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <select class="form-select" th:field="*{maNSX}" id="floatingSelectGrid"
                                aria-label="Floating label select example">
                                <option value="" disabled selected>Chọn nhà sản xuất</option>
                                <option th:each="nsx : ${dsNhaSanXuat}" th:value="${nsx.id}" th:text="${nsx.ten}">
                                </option>
                            </select>
                            <label for="floatingSelectGrid">Nhà Sản Xuất</label>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                            style="height: 100px;" th:field="*{moTa}"></textarea>
                        <label for="floatingTextarea">Mô tả</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Ảnh đại diện"
                            th:field="*{thuTu}" />
                        <label for="floatingInput">Thứ tự</label>
                    </div>

                    <div class="row g-2">
                        <div class="col-md">
                            <div class="form-floating  mb-3">
                                <select class="form-select" th:field="*{trangThai}" id="floatingSelectGrid"
                                    aria-label="Floating label select example">
                                    <option value="true" th:text="'Cho phép'"></option>
                                    <option value="false" th:text="'Không cho phép'"></option>
                                </select>

                                <label for="floatingSelectGrid">Trạng thái</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating  mb-3">
                                <select class="form-select" th:field="*{banChay}" id="floatingSelectGrid"
                                    aria-label="Floating label select example">
                                    <option value="true" th:text="'Cho phép'"></option>
                                    <option value="false" th:text="'Không cho phép'"></option>
                                </select>

                                <label for="floatingSelectGrid">Bán chạy</label>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="form-floating  mb-3">
                                <select class="form-select" th:field="*{noiBat}" id="floatingSelectGrid"
                                    aria-label="Floating label select example">
                                    <option value="true" th:text="'Cho phép'"></option>
                                    <option value="false" th:text="'Không cho phép'"></option>
                                </select>
                                <label for="floatingSelectGrid">Nổi bật</label>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Giá bán"
                                th:field="*{tag}" />
                            <label for="floatingInput">Tag</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" id="floatingInput" placeholder="Ngày hết hạn"
                                th:field="*{ngayHetHan}" />
                            <label for="floatingInput">Ngày hết hạn</label>
                        </div>


                        <div class="form-floating mb-3">
                            <input type="hidden" class="form-control" id="floatingInput" placeholder="Ngày hết hạn"
                                th:field="*{NgayTao}" />
                        </div>
                    </div>
                </div>
            </div>

            <button th:text="${title_sm}" type="submit" class="btn btn-outline-success">Cập Nhật</button>
        </form>
    </div>
</div>