<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                    <li class="breadcrumb-item active" th:text="${title_duyet}">Khách Hàng</li>
                </ol>
            </div>
            <h4 class="page-title" th:text="${title_duyet}">Khách Hàng</h4>
        </div>
    </div>
    <!-- Thông báo lỗi -->
    <div class="alert alert-success" id="alert-box" th:if="${THONG_BAO}">
        <div th:text="${THONG_BAO}">
            Thông báo đẩy ra ở đây
        </div>
        <button type="button" id="close-button" class="close" aria-label="Close">&times;</button>
    </div>
    <div class="alert alert-danger" id="alert-box" th:if="${THONG_BAO_ER}">
        <div th:text="${THONG_BAO_ER}">
            Thông báo đẩy ra ở đây
        </div>
        <button type="button" id="close-button" class="close" aria-label="Close">&times;</button>
    </div>
</div>
<!-- end page title -->

<!-- BS4 MODAL ADD -->
<div class="modal fade" id="modalThem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <!-- Modal Body -->
            <div class="modal-body">
                <div th:insert="admin/khachhang/form-bs4-kh.html"></div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="bi-x"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<!-- BS4 MODAL Show -->
<div class="modal" id="modalXem">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Body -->
            <div class="modal-body">
                <div th:insert="admin/khachhang/form-xem-kh-bs4.html"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="bi-x"></i>Close</button>
            </div>

        </div>
    </div>
</div>

<!-- BS4 MODAL EDIT -->
<div class="modal" id="modalSua">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Body -->
            <div class="modal-body">
                Sử dụng Ajax để tải mã nguồn của Form Edit và đặt nó vào đây
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="bi-x"></i>Close</button>
            </div>
        </div>
    </div>
</div>

<!-- BS4 MODAL: DELETE -->
<div class="modal fade" id="modalXoa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa Khách Hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formXoa" action="/admin/khach-hang/xoa" method="post">
                    <input type="hidden" name="id" id="idInput" value="" />
                    <p>
                        Bạn có chắc muốn xóa?
                    </p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="bi-x"></i> Hủy
                    </button>
                    <button type="submit" class="btn btn-danger">
                        <i class="bi-trash"></i> Xóa
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <button type="button" th:text="${title_btn_add}" class="btn btn-success" data-toggle="modal"
                            data-target="#modalThem">
                            <i class="bi-plus-circle"></i> Thêm Nhân Viên
                        </button>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <!-- Các nút chức năng -->
                            <form action="#" method="post" class="mb-3">
                                <button type="button" class="btn btn-primary btn-sm me-2">Lọc</button>
                                <button type="button" class="btn btn-light btn-sm me-2">Import</button>
                                <button type="button" class="btn btn-light btn-sm">Export</button>
                            </form>

                            <!-- Form tìm kiếm -->
                            <form action="/admin/khach-hang/tim-kiem" method="GET" class="d-flex justify-content-end">
                                <select name="criteria" class="form-select form-select-sm me-2"
                                    style="max-width: 150px;">
                                    <option value="tenDayDu">Họ và Tên</option>
                                    <option value="Id">ID</option>
                                    <option value="email">Email</option>
                                    <option value="dienThoai">Số điện thoại</option>
                                </select>
                                <input type="search" name="query" class="form-control form-control-sm me-2"
                                    placeholder="Tìm kiếm nhân viên..." style="max-width: 200px;">
                                <button class="btn btn-primary btn-sm" type="submit">Tìm kiếm</button>
                            </form>
                        </div>
                    </div>
                    <!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table table-centered w-100 dt-responsive nowrap table-hover" id="products-datatable">
                        <thead class="table-light">
                            <tr>
                                <th>STT</th>
                                <th>Ảnh Đại Diện</th>
                                <th class="all">
                                    <a th:href="@{/admin/khach-hang(page=${currentPage}, pageSize=${pageSize}, sort='tenDayDu', direction=${direction == 'asc' ? 'desc' : 'asc'})}"
                                        class="text-body" style="color: black;">Tên Khách Hàng</a>
                                </th>
                                <th>Tên Đăng Nhập</th>
                                <th>Email</th>
                                <th>Số Điện Thoại</th>
                                <th>Trạng Thái</th>
                                <th>Ngày Tạo</th>
                                <th>Ngày Hết Hạn</th>
                                <th style="width: 85px;">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="dl : ${ds}">
                                <td th:text="${dl.thuTu}">ID </td>
                                <td>
                                    <img th:src="${dl.anhDaiDien}" alt="Chưa có ảnh" title="contact-img"
                                        class="rounded me-3" height="48">
                                </td>

                                <td th:text="${dl.TenDayDu}">
                                    <p class="m-0 d-inline-block align-middle font-16">
                                        Họ Và Tên
                                    </p>
                                </td>

                                <td th:text="${dl.TenDangNhap}">
                                    Tên Đăng Nhập
                                </td>

                                <td th:text="${dl.email}">
                                    Email
                                </td>

                                <td th:text="${dl.dienThoai}">
                                    254
                                </td>

                                <td>
                                    <span th:if="${dl.trangThai} == true" class="badge bg-success">Đã xác nhận</span>
                                    <span th:if="${dl.trangThai} == false" class="badge bg-danger">Chưa xác nhận</span>
                                </td>

                                <td th:text="${dl.getNgayTaoText}"></td>

                                <td th:text="${dl.getNgayHetHanText}"></td>

                                <td class="table-action">
                                    <a type="button" class="action-icon" data-toggle="modal" data-target="#modalXem"
                                        th:data-id="${dl.id}">
                                        <i class="mdi mdi-eye"></i>
                                    </a>
                                    <script>
                                        $('#modalXem').on('show.bs.modal', function (e) {
                                            var id = $(e.relatedTarget).data('id');

                                            $('#modalXem .modal-body').load("/admin/khach-hang/xem?id=" + id);
                                        });
                                    </script>

                                    <a type="button" class="action-icon" data-toggle="modal" data-target="#modalSua"
                                        th:data-id="${dl.id}">
                                        <i class="mdi mdi-square-edit-outline"></i>
                                    </a>
                                    <script>
                                        $('#modalSua').on('show.bs.modal', function (e) {
                                            var id = $(e.relatedTarget).data('id');

                                            $('#modalSua .modal-body').load("/admin/khach-hang/sua?id=" + id);
                                        });
                                    </script>

                                    <a type="button" class="action-icon" data-toggle="modal" data-target="#modalXoa"
                                        href="#modalXoa" th:data-id="${dl.id}">
                                        <i class="mdi mdi-delete"></i>
                                    </a>

                                    <script>
                                        $('#modalXoa').on('show.bs.modal', function (e) {
                                            var id = $(e.relatedTarget).data('id');
                                            // console.log("ID nhận được: ", id);
                                            $(e.currentTarget).find('input[name="id"]').val(id);
                                        });
                                    </script>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <!-- Hiển thị phân trang -->
                    <div th:insert="/admin/pages/pageable.html"></div>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->

<div th:insert="~{admin/fragments/stylethongbao :: stylethongbao}"></div>