<div th:fragment="them">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item active" th:text="${title_body}">Sửa Nhân Viên</li>
                    </ol>
                </div>
                <h4 class="page-title" th:text="${title_body}">Sửa Nhân Viên</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="container">
        <form th:action="${action}" th:object="${dl}" method="post">
            <div class="row">
                <div class="col">
                    <!-- ID ẩn của đơn hàng -->
                    <input type="hidden" th:field="*{id}" />

                    <!-- Lựa chọn Khách Hàng -->
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <select class="form-select" th:field="*{maKH}" id="floatingSelectGrid"
                                aria-label="Floating label select example">
                                <option value="0" selected>Chưa có tài khoản</option>
                                <option th:each="kh : ${dsKhachHang}" th:value="${kh.id}" th:text="${kh.tenDayDu}">
                                </option>
                            </select>
                            <label for="floatingSelectGrid">Khách Hàng</label>
                        </div>
                    </div>

                    <!-- Lựa chọn Sản Phẩm -->
                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <select class="form-select" th:field="*{chiTietDonHang.maSP}" id="floatingSelectGrid"
                                aria-label="Floating label select example">
                                <option value="0" selected>Chọn Sản Phẩm</option>
                                <option th:each="sp : ${dsSanPham}" th:value="${sp.id}" th:text="${sp.tenSP}">
                                </option>
                            </select>
                            <label for="floatingSelectGrid">Sản Phẩm</label>
                        </div>
                    </div>

                    <!-- Email của khách hàng -->
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" th:field="*{email}" placeholder="Email" required />
                        <label for="floatingInput">Email</label>
                    </div>

                    <!-- Số điện thoại của khách hàng -->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" th:field="*{dienThoai}" placeholder="Số điện thoại"
                            required />
                        <label for="floatingInput">Số điện thoại</label>
                    </div>

                    <!-- Tổng tiền của đơn hàng -->
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" th:field="*{tongTien}" placeholder="Tổng tiền"
                            readonly />
                        <label for="floatingInput">Tổng tiền</label>
                    </div>

                    <!-- Trạng thái đơn hàng -->
                    <div class="col-md">
                        <div class="form-floating  mb-3">
                            <select class="form-select" th:field="*{trangThai}" id="floatingSelectGrid"
                                aria-label="Floating label select example">
                                <option value="1">Cho phép</option>
                                <option value="0">Không cho phép</option>
                            </select>
                            <label for="floatingSelectGrid">Trạng thái</label>
                        </div>
                    </div>

                    <!-- Địa chỉ của khách hàng -->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" th:field="*{diaChi}" placeholder="Địa chỉ" id="floatingTextarea"
                            style="height: 100px;"></textarea>
                        <label for="floatingTextarea">Địa chỉ</label>
                    </div>
                </div>

                <!-- Thông tin chi tiết đơn hàng -->
                <div class="col">
                    <!-- <div class="row g-2">
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" th:field="*{chiTietDonHang.soLuong}"
                                placeholder="Số lượng" required />
                            <label for="soLuong">Số Lượng</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="number" step="0.01" class="form-control" th:field="*{chiTietDonHang.donGia}"
                                placeholder="Đơn giá" required />
                            <label for="donGia">Đơn Giá</label>
                        </div>
                    </div> -->
                </div>
            </div>
            <button th:text="${title_sm}" type="submit" class="btn btn-outline-success">Cập Nhật</button>
        </form>

    </div>
</div>