<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">


<!-- molla/elements-cta.html  22 Nov 2019 10:05:32 GMT -->
<head th:replace="client/fragments/head :: head"></head>
<body>
    <div class="page-wrapper">
        <header th:replace="client/fragments/header :: header"></header>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Call to Action<span>Elements</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="elements-list.html">Elements</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Call to Action</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content pb-0">
                <div class="container">
                	<h2 class="title text-center mb-5">Newsletter Banner <span class="title-separator">/</span> With Background</h2><!-- End .title -->

                    <div class="cta cta-horizontal cta-horizontal-box bg-image mb-5" style="background-image: url(assets/images/backgrounds/cta/bg-1.jpg); background-position: center right;">
	                   	<div class="row align-items-center">
	                    	<div class="col-lg-4 col-xl-3 offset-xl-1">
	                    		<h3 class="cta-title">Join Our Newsletter</h3><!-- End .cta-title -->
	                    		<p class="cta-desc">Lorem ipsum dolor sit amet adipiscing.</p><!-- End .cta-desc -->
	                    	</div><!-- End .col-xl-3 -->
							
							<div class="col-lg-8 col-xl-7">
								<form action="#">
		                    		<div class="input-group">
										<input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
										<div class="input-group-append">
											<button class="btn btn-primary btn-rounded" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
										</div><!-- .End .input-group-append -->
									</div><!-- .End .input-group -->
		                    	</form>
	                    	</div><!-- End .col-xl-7 -->
                    	</div><!-- End .row -->
                    </div><!-- End .cta -->

                    <hr class="mb-5">
                    <h2 class="title text-center mb-5">Newsletter Banner <span class="title-separator">/</span> With Dark Background</h2><!-- End .title -->
                </div><!-- End .container -->

                <div class="cta bg-image bg-dark pt-6 pb-7 mb-5" style="background-image: url(assets/images/backgrounds/bg-1.jpg);">
            		<div class="container">
            			<div class="row justify-content-center">
		            		<div class="col-sm-10 col-md-8 col-lg-6">
		            			<div class="cta-heading text-center">
		            				<h3 class="cta-title text-white">Join Our Newsletter</h3><!-- End .cta-title -->
			            			<p class="cta-desc text-light">Lorem ipsum dolor sit amet adipiscing.</p><!-- End .cta-desc -->
		            			</div><!-- End .text-center -->
							
								<form action="#">
			                		<div class="input-group">
										<input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
										<div class="input-group-append">
											<button class="btn btn-primary" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
										</div><!-- .End .input-group-append -->
									</div><!-- .End .input-group -->
			                	</form>
		            		</div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
	                	</div><!-- End .row -->
                	</div><!-- End .container -->
                </div><!-- End .cta -->

                <hr class="mb-5">

                <div class="container">
	                <h2 class="title text-center mb-5">Newsletter Banner <span class="title-separator">/</span> Without Background</h2><!-- End .title -->

	                <div class="cta cta-horizontal mb-3">
	                	<div class="row align-items-center">
	                    	<div class="col-lg-4 col-xl-3 offset-xl-1">
	                    		<h3 class="cta-title">Join Our Newsletter</h3><!-- End .cta-title -->
	                    		<p class="cta-desc">Lorem ipsum dolor sit amet adipiscing.</p><!-- End .cta-desc -->
	                    	</div><!-- End .col-xl-3 -->
							
							<div class="col-lg-8 col-xl-7">
								<form action="#">
		                    		<div class="input-group">
										<input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
										<div class="input-group-append">
											<button class="btn btn-primary btn-rounded" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
										</div><!-- .End .input-group-append -->
									</div><!-- .End .input-group -->
		                    	</form>
	                    	</div><!-- End .col-xl-7 -->
	                	</div><!-- End .row -->
	                </div><!-- End .cta -->

	                <hr class="mb-5">
	                
                	<h2 class="title text-center mb-5">Call to Action <span class="title-separator">/</span> Newsletter Banner <span class="title-separator">/</span> With Background</h2><!-- End .title -->
                	<div class="cta cta-separator bg-image mb-5" style="background-image: url(assets/images/backgrounds/cta/bg-5.jpg);background-position: center right;">
	                	<div class="row">
	                		<div class="col-lg-6">
		            			<div class="cta-wrapper cta-text text-center">
		            				<h3 class="cta-title">Morbi in sem quis dui placerat pellentesque felis.</h3><!-- End .cta-title -->
			            			<p class="cta-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p><!-- End .cta-desc -->
							
									<a href="#" class="btn btn-primary btn-rounded"><span>Click Here</span><i class="icon-long-arrow-right"></i></a>
		            			</div><!-- End .cta-wrapper -->
	                		</div><!-- End .col-lg-6 -->

	                		<div class="col-lg-6">
		            			<div class="cta-wrapper text-center">
		            				<h3 class="cta-title">Join Our Newsletter</h3><!-- End .cta-title -->
			            			<p class="cta-desc">Lorem ipsum dolor sit amet adipiscing.</p><!-- End .cta-desc -->
							
									<form action="#">
										<input type="email" class="form-control form-control-rounded" placeholder="Enter your Email Address" aria-label="Email Adress" required>
										<button class="btn btn-primary" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
				                	</form>
		            			</div><!-- End .cta-wrapper -->
	                		</div><!-- End .col-lg-6 -->
	                	</div><!-- End .row -->
                	</div><!-- End .cta -->

	                <hr class="mt-3 mb-5">

	                <h2 class="title text-center mb-5">Call to Action <span class="title-separator">/</span> Newsletter Banner <span class="title-separator">/</span> No Background</h2><!-- End .title -->
                	<div class="cta cta-separator mb-5">
	                	<div class="row">
	                		<div class="col-lg-6">
		            			<div class="cta-wrapper cta-text text-center">
		            				<h3 class="cta-title">Morbi in sem quis dui placerat pellentesque felis.</h3><!-- End .cta-title -->
			            			<p class="cta-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p><!-- End .cta-desc -->
							
									<a href="#" class="btn btn-primary btn-rounded"><span>Click Here</span><i class="icon-long-arrow-right"></i></a>
		            			</div><!-- End .cta-wrapper -->
	                		</div><!-- End .col-lg-6 -->

	                		<div class="col-lg-6">
		            			<div class="cta-wrapper text-center">
		            				<h3 class="cta-title">Join Our Newsletter</h3><!-- End .cta-title -->
			            			<p class="cta-desc">Lorem ipsum dolor sit amet adipiscing.</p><!-- End .cta-desc -->
							
									<form action="#">
										<input type="email" class="form-control form-control-rounded" placeholder="Enter your Email Address" aria-label="Email Adress" required>
										<button class="btn btn-primary" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
				                	</form>
		            			</div><!-- End .cta-wrapper -->
	                		</div><!-- End .col-lg-6 -->
	                	</div><!-- End .row -->
                	</div><!-- End .cta -->

	                <hr class="mt-3 mb-5">


        			<h2 class="title text-center mb-5">Call to Action <span class="title-separator">/</span> Newsletter Banner <span class="title-separator">/</span> With Background</h2><!-- End .title -->
                	<div class="row">
                		<div class="col-lg-6">
			                <div class="cta bg-image mb-3" style="background-image: url(assets/images/backgrounds/cta/bg-3.jpg);background-position: center right;">
		            			<div class="cta-wrapper cta-text text-center">
		            				<h3 class="cta-title">Morbi in sem quis dui placerat pellentesque felis.</h3><!-- End .cta-title -->
			            			<p class="cta-desc">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. </p><!-- End .cta-desc -->
							
									<a href="#" class="btn btn-primary btn-rounded"><span>Click Here</span><i class="icon-long-arrow-right"></i></a>
		            			</div><!-- End .cta-wrapper -->
			                </div><!-- End .cta -->
                		</div><!-- End .col-lg-6 -->

                		<div class="col-lg-6">
			                <div class="cta bg-image mb-3" style="background-image: url(assets/images/backgrounds/cta/bg-4.jpg);background-position: center right;">
		            			<div class="cta-wrapper text-center">
		            				<h3 class="cta-title">Join Our Newsletter</h3><!-- End .cta-title -->
			            			<p class="cta-desc">Lorem ipsum dolor sit amet adipiscing.</p><!-- End .cta-desc -->
							
									<form action="#">
										<input type="email" class="form-control form-control-rounded" placeholder="Enter your Email Address" aria-label="Email Adress" required>
										<button class="btn btn-primary" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
				                	</form>
		            			</div><!-- End .cta-wrapper -->
			                </div><!-- End .cta -->
                		</div><!-- End .col-lg-6 -->
                	</div><!-- End .row -->

	                <hr class="mt-3 mb-5">
                </div><!-- End .container -->
				
				<div class="container">
	                <h2 class="title text-center mb-5">Sale Banner  <span class="title-separator">/</span> With Background</h2><!-- End .title -->

	                <div class="cta cta-border mb-5">
            			<div class="row justify-content-center">
							<div class="col-md-11 col-xl-10">
								<div class="cta-content">
									<div class="cta-heading">
										<h3 class="cta-title text-right">Vivamus vestibulum <br>ntulla nec ante</h3><!-- End .cta-title -->
									</div><!-- End .cta-heading -->
	                    			
									<div class="cta-text">
										<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
									</div><!-- End .cta-text -->
									<a href="#" class="btn btn-primary btn-rounded"><span>Click Here</span><i class="icon-long-arrow-right"></i></a>
								</div><!-- End .cta-content -->
	                    	</div><!-- End .col-xl-7 -->
                    	</div><!-- End .row -->
	                </div><!-- End .cta -->

					<hr class="mb-5">
	                <h2 class="title text-center mb-5">Sale Banner <span class="title-separator">/</span> With Background</h2><!-- End .title -->

	                <div class="cta bg-image pt-6 pb-7 mb-5" style="background-image: url(assets/images/backgrounds/cta/bg-2.jpg);background-position: center right;">
            			<div class="row justify-content-center">
		            		<div class="col-sm-10 col-md-8 col-lg-6">
		            			<div class="cta-text text-center">
		            				<h3 class="cta-title">Morbi in sem quis dui placerat felis.</h3><!-- End .cta-title -->
			            			<p class="cta-desc">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p><!-- End .cta-desc -->
							
									<a href="#" class="btn btn-primary btn-rounded"><span>Click Here</span><i class="icon-long-arrow-right"></i></a>
		            			</div><!-- End .cta-text -->
		            		</div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
	                	</div><!-- End .row -->
	                </div><!-- End .cta -->

	                <hr class="mb-5">
                    <h2 class="title text-center mb-5">Sale Banner  <span class="title-separator">/</span> With Dark Background</h2><!-- End .title -->
                </div><!-- End .container -->

                <div class="cta bg-image bg-dark pt-6 pb-7" style="background-image: url(assets/images/backgrounds/bg-1.jpg);">
            		<div class="container">
            			<div class="row justify-content-center">
		            		<div class="col-sm-10 col-md-8 col-lg-6">
		            			<div class="cta-text text-center">
		            				<h3 class="cta-title text-white">Morbi in sem quis dui placerat felis.</h3><!-- End .cta-title -->
			            			<p class="cta-desc text-light">Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p><!-- End .cta-desc -->
							
									<a href="#" class="btn btn-primary btn-rounded"><span>Click Here</span><i class="icon-long-arrow-right"></i></a>
		            			</div><!-- End .cta-text -->
		            		</div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
	                	</div><!-- End .row -->
                	</div><!-- End .container -->
                </div><!-- End .cta -->
            </div><!-- End .page-content -->

            <!-- Elements list -->
            <div class="container mb-5">
                <div class="row elements">
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-accordions.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>accordions</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-banners.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>banners</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-blog-posts.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>blog posts</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-buttons.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>buttons</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-cta.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>call to action</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-icon-boxes.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>icon boxes</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-portfolio.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>portfolio</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-product-category.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>product catigories</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-products.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>products</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-tabs.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>tabs</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-testimonials.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>testimonials</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-titles.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>titles</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-typography.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>typography</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-video-banners.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>video</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div><!-- End Elements list -->
        </main><!-- End .main -->
        <footer  th:replace="client/fragments/footer :: footer" ></footer>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div th:replace="client/fragments/menu_mobile :: menu_mobile"></div>

    <!-- Sign in / Register Modal -->
    <div th:replace="client/fragments/register_modal :: register_modal"></div><!-- End .modal -->

    <!-- Plugins JS File -->
    <div th:replace="client/fragments/script :: script"></div>
</body>


<!-- molla/elements-cta.html  22 Nov 2019 10:05:34 GMT -->
</html>