<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">


<!-- molla/elements-typography.html  22 Nov 2019 10:05:00 GMT -->
<head th:replace="client/fragments/head :: head"></head>

<body>
    <div class="page-wrapper">
        <header th:replace="client/fragments/header :: header"></header>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Typography & Text Grid<span>Elements</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="elements-list.html">Elements</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Typography & Text Grid</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<h1>Heading H1</h1>
                    <p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>

                	<hr>
                	<h2>Heading H2</h2>
                	<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>

                	<hr>
                	<h3>Heading H3</h3>
                	<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>

                	<hr>
                	<h4>Heading H4</h4>
                	<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>

                	<hr>
                	<h5>Heading H5</h5>
                	<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>

                	<hr>
                	<h6>Heading H6</h6>
                	<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>

                	<hr>
                	<h4>Full Width</h4>
                	<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>

                	<hr>
        			<h4>One Half</h4>
                	<div class="row">
                		<div class="col-md-6">
                			<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
                		</div><!-- End .col-md-6 -->

                		<div class="col-md-6">
                			<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</p>
                		</div><!-- End .col-md-6 -->
                	</div><!-- End .row -->

                	<hr>
        			<h4>One Third</h4>
                	<div class="row">
                		<div class="col-md-4">
                			<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod </p>
                		</div><!-- End .col-md-4 -->

                		<div class="col-md-4">
                			<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod </p>
                		</div><!-- End .col-md-4 -->

                		<div class="col-md-4">
                			<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod </p>
                		</div><!-- End .col-md-4 -->
                	</div><!-- End .row -->

    				<hr>
    				<h4>One Fourth</h4>
    				<div class="row">
    					<div class="col-md-3">
    						<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. </p>
    					</div><!-- End .col-md-3 -->

    					<div class="col-md-3">
    						<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. </p>
    					</div><!-- End .col-md-3 -->

    					<div class="col-md-3">
    						<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. </p>
    					</div><!-- End .col-md-3 -->

    					<div class="col-md-3">
    						<p>Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. </p>
    					</div><!-- End .col-md-3 -->
    				</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->

            <!-- Elements list -->
            <div class="container mb-5">
                <div class="row elements">
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-accordions.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>accordions</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-banners.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>banners</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-blog-posts.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>blog posts</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-buttons.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>buttons</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-cta.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>call to action</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-icon-boxes.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>icon boxes</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-portfolio.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>portfolio</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-product-category.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>product catigories</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-products.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>products</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-tabs.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>tabs</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-testimonials.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>testimonials</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-titles.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>titles</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-typography.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>typography</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-video-banners.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>video</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div><!-- End Elements list -->
        </main><!-- End .main -->
        <footer  th:replace="client/fragments/footer :: footer" ></footer>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    <div th:replace="client/fragments/menu_mobile :: menu_mobile"></div>

    <!-- Sign in / Register Modal -->
   <div th:replace="client/fragments/register_modal :: register_modal"></div>

    <div th:replace="client/fragments/script :: script"></div>
</body>


<!-- molla/elements-typography.html  22 Nov 2019 10:05:00 GMT -->
</html>