<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<!-- molla/elements-video-banners.html  22 Nov 2019 10:05:14 GMT -->
<head th:replace="client/fragments/head :: head"></head>
<body>
    <div class="page-wrapper">
        <header th:replace="client/fragments/header :: header"></header>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Video Banners<span>Elements</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="elements-list.html">Elements</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Video Banners</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="container">
            		<h2 class="title mb-3 text-center">Fullwidth Banner</h2><!-- End .text-center -->
            	</div><!-- End .container -->
            	<div class="video-banner video-banner-bg bg-image text-center" style="background-image: url(assets/images/video/bg-1.jpg)">
	                <div class="container">
	                	<h3 class="video-banner-title h1 text-white"><span>New Video</span><strong>Womens New Arrivals</strong></h3><!-- End .video-banner-title -->
	                	<a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a>
	                </div><!-- End .container -->
            	</div><!-- End .video-banner bg-image -->

            	<div class="container">
            		<hr class="mt-5 mb-4">
            		<h2 class="title mb-3 text-center">Video Banner with Description</h2><!-- End .text-center -->
            	</div><!-- End .container -->

            	<div class="video-banner video-banner-poster text-center">
	                <div class="container">
	                	<div class="row align-items-center">
	                		<div class="col-md-6 mb-3 mb-md-0">
	                			<h3 class="video-banner-title h3"><span class="text-primary">New Video</span>Womens New Arrivals</h3><!-- End .video-banner-title -->
	                			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper ...</p>
	                		</div><!-- End .col-md-6 -->

	                		<div class="col-md-6">
	                			<div class="video-poster">
	                				<img src="assets/images/video/poster-1.jpg" alt="poster">

	                				<div class="video-poster-content">
	                					<a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a>
	                				</div><!-- End .video-poster-content -->	
	                			</div><!-- End .video-poster -->
	                		</div><!-- End .col-md-6 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
            	</div><!-- End .video-banner -->

            	<div class="container">
            		<hr class="mt-5 mb-4">
            		<h2 class="title mb-3 text-center">Video Banner with Background</h2><!-- End .text-center -->
            	</div><!-- End .container -->

            	<div class="video-banner bg-image text-center pt-8 pb-8" style="background-image: url(assets/images/video/bg-2.jpg)">
	                <div class="container">
	                	<div class="row">
	                		<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
	                			<div class="video-poster">
	                				<img src="assets/images/video/poster-2.jpg" alt="poster">

	                				<div class="video-poster-content">
	                					<h3 class="h4 video-poster-title text-white">Womens New Arrivals</h3><!-- End .video-poster-title -->
	                					<a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a>
	                				</div><!-- End .video-poster-content -->	
	                			</div><!-- End .video-poster -->
	                		</div><!-- End .col-sm-10 offset-sm-1 col-md-10 offset-md-2 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
            	</div><!-- End .video-banner bg-image -->

            	<div class="container">
            		<hr class="mt-5 mb-4">
            		<h2 class="title mb-3 text-center">Deal Video Banner</h2><!-- End .text-center -->
            	</div><!-- End .container -->

            	<div class="video-banner bg-light pt-5 pb-5">
	                <div class="container align-items-center">
	                	<div class="video-banner-box bg-white">
		                	<div class="row align-items-center">
		                		<div class="col-md-6 mb-3 mb-md-0">
		                			<div class="video-box-content">
		                				<h3 class="video-banner-title h1"><span class="text-primary">New Video</span><strong>Deal Banner</strong></h3><!-- End .video-banner-title -->
	                					<p>Lorem ipsum dolor sit amet, consecte adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
	                					<a href="#" class="btn btn-outline-primary"><span>Click Here</span><i class="icon-long-arrow-right"></i></a>
		                			</div><!-- End .video-box-content -->
		                		</div><!-- End .col-md-6 -->
		                		<div class="col-md-6">
		                			<div class="video-poster">
		                				<img src="assets/images/video/poster-3.jpg" alt="poster">

		                				<div class="video-poster-content">
		                					<a href="https://www.youtube.com/watch?v=vBPgmASQ1A0" class="btn-video btn-iframe"><i class="icon-play"></i></a>
		                				</div><!-- End .video-poster-content -->	
		                			</div><!-- End .video-poster -->
		                		</div><!-- End .col-md-6 -->
		                	</div><!-- End .row -->
	                	</div><!-- End .video-banner-box -->
	                </div><!-- End .container -->
            	</div><!-- End .video-banner bg-image -->
            </div><!-- End .page-content -->

            <!-- Elements list -->
            <div class="container mb-5">
                <div class="row elements">
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-accordions.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>accordions</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-banners.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>banners</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-blog-posts.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>blog posts</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-buttons.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>buttons</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-cta.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>call to action</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-icon-boxes.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>icon boxes</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-portfolio.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>portfolio</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-product-category.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>product catigories</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-products.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>products</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-tabs.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>tabs</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-testimonials.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>testimonials</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-titles.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>titles</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-typography.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>typography</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-xl-5col col-lg-4 col-md-3 col-6">
                        <a href="elements-video-banners.html" class="element-type">
                            <div class="element">
                                <i class="element-img"></i>
                                <i class="element-hover-img"></i>
                                <p>video</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div><!-- End Elements list -->
        </main><!-- End .main -->

        <footer  th:replace="client/fragments/footer :: footer" ></footer>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    <div th:replace="client/fragments/menu_mobile :: menu_mobile"></div>
    <!-- Sign in / Register Modal -->
    <div th:replace="client/fragments/register_modal :: register_modal"></div>
    <div th:replace="client/fragments/script :: script"></div>
</body>


<!-- molla/elements-video-banners.html  22 Nov 2019 10:05:17 GMT -->
</html>