<div th:fragment="them">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item active" th:text="${title_btn_add}">Sửa Nhân Viên</li>
                    </ol>
                </div>
                <h4 class="page-title" th:text="${title_btn_add}">Sửa Nhân Viên</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="container">
        <form th:action="${action}" th:object="${dl}" method="post">

            <div class="row">
                <div class="col">
                    <input type="hidden" th:field="*{Id}" />

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required id="floatingInput" placeholder="Tên đăng nhập"
                            th:field="*{hinhAnh}" />
                        <label for="floatingInput">Đường dẫn ảnh</label>
                    </div>

                    <div class="col-md">
                        <div class="form-floating mb-3">
                            <select class="form-select" required th:field="*{maSP}" id="floatingSelectGrid"
                                aria-label="Floating label select example">
                                <option value="" disabled selected>Chọn sản phẩm</option>
                                <option th:each="sp : ${dsSanPham}" th:value="${sp.id}" th:text="${sp.tenSP}">
                                </option>
                            </select>
                            <label for="floatingSelectGrid">Sản Phẩm</label>
                        </div>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" required id="floatingInput" placeholder="Tên đăng nhập"
                            th:field="*{thuTu}" />
                        <label for="floatingInput">Thứ tự</label>
                    </div>

                </div>
            </div>
            <button th:text="${title_sm}" type="submit" class="btn btn-outline-success">Cập Nhật</button>
        </form>
    </div>
</div>