<!-- Kiểm tra nếu có thông báo lỗi -->
<!-- <div th:if="${THONG_BAO}" class="alert alert-danger" role="alert">
        <span th:text="${THONG_BAO}"></span>
    </div> -->


<div class="title">
    Welcome
</div>
<form th:action="@{/admin/dang-nhap}" th:object="${dl}" method="post">
    <div class="field">
        <input type="text" th:field="*{TenDangNhap}" required autofocus>
        <label>Tên đăng nhập (Email, Số Điện Thoại)</label>
    </div>
    <div class="field">
        <input type="password" th:field="*{MatKhau}" required>
        <label>Mật khẩu</label>
    </div>
    <!-- <div th:insert="~{admin/pages/thongbao :: thongbao}"></div> -->
    <div class="alert alert-success" th:if="${THONG_BAO_ERROR}"
        style="color: red; font-size: 14px; margin-top: 10px; text-align: center;">
        <span th:text="${THONG_BAO_ERROR}"></span>
    </div>

    <div class="alert alert-success" th:if="${THONG_BAO_SUCCESS}"
        style="color: green; font-size: 14px; margin-top: 10px; text-align: center;">
        <span th:text="${THONG_BAO_SUCCESS}"></span>
    </div>

    <div class="content">
        <div class="checkbox">
            <input type="checkbox" id="remember-me" checked>
            <label for="remember-me">Ghi nhớ tôi</label>
        </div>
        
    </div>
    <div>
        <a style="color: #262626; text-decoration: none;" href="/admin/quen-mat-khau">
            Quên mật khẩu.
        </a>
    </div>
    <div class="field">
        <input type="submit" value="Đăng nhập">
    </div>
</form>