<div th:fragment="them">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item active" th:text="${title_body}">Sửa Nhân Viên</li>
                    </ol>
                </div>
                <h4 class="page-title" th:text="${title_body}">Sửa Nhân Viên</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="container">
        <form th:action="${action}" th:object="${dl}" method="post">

            <div class="row">
                <div class="col">
                    <input disabled type="hidden" th:field="*{Id}" />

                    <div class="mb-3">
                        <h5>Tên đầy đủ:</h5>
                        <p th:text="${dl.TenDayDu}"></p>
                    </div>

                    <div class="mb-3">
                        <h5>Tên đăng nhập:</h5>
                        <p th:text="${dl.TenDangNhap}"></p>
                    </div>

                    <div class="mb-3">
                        <h5>Email:</h5>
                        <p th:text="${dl.Email}"></p>
                    </div>

                    <div class="mb-3">
                        <h5>Số điện thoại:</h5>
                        <p th:text="${dl.dienThoai}"></p>
                    </div>

                    <div class="mb-3">
                        <h5>Ghi chú:</h5>
                        <p th:text="${dl.moTa}"></p>
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <h5>Ảnh đại diện:</h5>
                        <!-- <p th:text="${dl.AnhDaiDien}"></p> -->
                        <img th:src="${dl.anhDaiDien}" alt="Chưa có ảnh" title="contact-img" class="rounded me-3"
                            height="68px">
                    </div>

                    <div class="row g-2">
                        <div class="col-md">
                            <div class="mb-3">
                                <h5>Thứ tự:</h5>
                                <p th:text="${dl.thuTu}"></p>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="mb-3">
                                <h5>Trạng thái:</h5>
                                <!-- <p th:text="${dl.TrangThai == 1 ? 'Cho phép' : 'Không cho phép'}"></p> -->
                                <span th:if="${dl.trangThai} == true" class="badge bg-success">Đã xác nhận</span>
                                <span th:if="${dl.trangThai} == false" class="badge bg-danger">Chưa xác nhận</span>
                            </div>
                        </div>


                    </div>

                    <div class="row g-2">
                        <div class="col-md">
                            <div class="mb-3">
                                <h5>Ngày tạo:</h5>
                                <p th:text="${dl.ngayTao}"></p>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="mb-3">
                                <h5>Ngày sửa</h5>
                                <p th:text="${dl.ngaySua}"></p>
                            </div>
                        </div>

                        <div class="col-md">
                            <div class="mb-3">
                                <h5>Ngày hết hạn:</h5>
                                <p th:text="${dl.ngayHetHan}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>