<!-- Hiển thị phân trang -->
<nav class="pagination-container">
    <ul class="pagination justify-content-center">
        <!-- Trang đầu -->
        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
            <a class="page-link" th:href="@{'/admin/' + ${phan_trang} + '?page=1&pageSize=' + ${pageSize}}">Đầu</a>
        </li>

        <!-- Trang trước -->
        <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
            <a class="page-link"
                th:href="@{'/admin/' + ${phan_trang} + '?page=' + (${currentPage > 1 ? currentPage - 1 : 1}) + '&pageSize=' + ${pageSize}}">
                <i class="dripicons-chevron-left"></i>
            </a>
        </li>

        <!-- Trang đầu tiên -->
        <li class="page-item" th:classappend="${currentPage == 1} ? 'active' : ''">
            <a class="page-link" th:href="@{'/admin/' + ${phan_trang} + '?page=1&pageSize=' + ${pageSize}}">1</a>
        </li>

        <!-- Hiển thị "..." nếu cần và tổng số trang lớn hơn 2 -->
        <li class="page-item" th:if="${totalPages > 2} and ${currentPage > 4}">
            <span class="page-link">...</span>
        </li>

        <!-- Các trang giữa -->
        <li class="page-item"
            th:each="i : ${#numbers.sequence(currentPage > 2 ? currentPage - 1 : 2, currentPage < totalPages - 1 ? currentPage + 1 : totalPages - 1)}"
            th:classappend="${currentPage == i} ? 'active' : ''">
            <a class="page-link"
                th:href="@{'/admin/' + ${phan_trang} + '?page=' + ${i} + '&pageSize=' + ${pageSize}}">[[${i}]]</a>
        </li>

        <!-- Hiển thị "..." nếu cần và tổng số trang lớn hơn 2 -->
        <li class="page-item" th:if="${totalPages > 2} and ${currentPage < totalPages - 3}">
            <span class="page-link">...</span>
        </li>

        <!-- Trang cuối -->
        <li class="page-item" th:classappend="${currentPage == totalPages} ? 'active' : ''" th:if="${totalPages > 1}">
            <a class="page-link"
                th:href="@{'/admin/' + ${phan_trang} + '?page=' + ${totalPages} + '&pageSize=' + ${pageSize}}">[[${totalPages}]]</a>
        </li>

        <!-- Trang tiếp theo -->
        <li class="page-item" th:classappend="${currentPage >= totalPages} ? 'disabled' : ''">
            <a class="page-link"
                th:href="@{'/admin/' + ${phan_trang} + '?page=' + (${currentPage < totalPages ? currentPage + 1 : totalPages}) + '&pageSize=' + ${pageSize}}">
                <i class="dripicons-chevron-right"></i>
            </a>
        </li>

        <!-- Trang cuối -->
        <li class="page-item" th:classappend="${currentPage >= totalPages} ? 'disabled' : ''">
            <a class="page-link"
                th:href="@{'/admin/' + ${phan_trang} + '?page=' + ${totalPages} + '&pageSize=' + ${pageSize}}">Cuối</a>
        </li>
    </ul>
</nav>